<table class="table table-striped table-bordered table-hover table-sm table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let libro of libros">
            <th>{{libro.id}}</th>
            <td>{{libro.nombre}}</td>
            <td>{{libro.descripcion}}</td>
            <td>
                <a routerLink="/detalles/{{libro.id}}" class="btn btn-primary">Editar</a>
                <a (click)="onBorrar(libro.id)" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
    </tbody>
</table>

<a routerLink="/detalles" class="btn btn-primary">Añadir</a>